.postDetailPage {
    margin-left: auto;
    margin-right: auto;
    width: 75%
}

.postDetailSection {
    display: flex;
    flex-wrap:nowrap;
}

.image-container {
    max-width: 400px;
    max-height: 400px;
    height: 100%;  
}
.form-container {
   display: flex;
   justify-content: center;
   padding-top: 24px;
}

.post-container {
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 16px
}

.postForm {
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 16px;
    width: 50%;
}

img {
    width: 80%;
    height: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    
} 
.postRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}
#postHeader {
    font-size:large;
    font-weight: bold;
}

.container {
   padding-top: 24px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.image {
    border-radius: 10px;
}

.news-header {
    display: flex;
    align-items: center;
    margin-bottom: 0%;
    padding-left: 16px
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.actionButton {
    padding: 8px;
    width: 88px
}

.add-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }